.hour_img_c{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.hour_img_c h2{
    font-family: var(--third-family);
font-weight: 700;
font-size: 70px;
color: #fff;
padding-top: 40px;
padding-right: 131px;
padding-left: 40px;
padding-bottom: 318px;
}
@media(max-width:1100px) {
    .hour_img_c h2{
        padding-right: 110px;
        padding-left: 30px;
        padding-bottom: 300px;
        padding-top: 30px;
    }
}