.like{
    margin-bottom: 101px;
}
.like_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.like h1{
    font-family: var(--third-family);
font-weight: 700;
font-size: 55px;
line-height: 148%;
text-align: center;
color: #000;
margin-bottom: 30px;
}